<mat-card>
  <mat-toolbar>
    <span>{{'ORDER_LIST.TITLE' | translate}}</span>
  </mat-toolbar>
  <mat-card-content>
    <div>
      <mat-form-field class="example-full-width">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="OrderNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'ORDER_LIST.ORDER' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.OrderNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="CustomerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'ORDER_LIST.CUSTOMER' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.CustomerName}} </td>
        </ng-container>
        <ng-container matColumnDef="BillingAddress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'ORDER_LIST.ADDRESS' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.BillingAddress}} </td>
        </ng-container>
        <ng-container matColumnDef="Amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'ORDER_LIST.AMOUNT' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.Amount}} </td>
        </ng-container>
        <ng-container matColumnDef="OrderDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'ORDER_LIST.ORDER_DATE' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.OrderDate}} </td>
        </ng-container>
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'ORDER_LIST.ACTION' | translate}} </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button (click)="openBottomSheet(element.OrderId)" color="accent">
              <mat-icon class="icon">open_in_new</mat-icon> {{'ORDER_LIST.ORDER_DETAILS' | translate}}
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>