.grid-container {  
    margin: 1%;  
  }  
  .dashboard-card {  
    position: absolute;  
    top: 1%;  
    left: 0%;  
    right: 0%;  
    bottom: 1%;  
  }  
  .more-button {  
    position: absolute;  
    top: 1%;  
    right: 1.5%;  
  }  
  .dashboard-card-content {  
    text-align: center;  
  }